<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rango</title>
</head>
<body>
    <h1>Rango says...hello world!</h1>

    {% if categories %}
        <ul>
            {% for category in categories %}
                <li><a href="/rango/category/{{  category.slug }}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <strong>目前没有目录.</strong>
    {%  endif %}
    <br />
    {% if pages %}
        <ul>
            {% for page in pages %}
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
            {%  endfor %}
        </ul>
    {% else %}
        <strong>目前没有页面.</strong>
    {%  endif %}

    <a href="/rango/about/">关于</a><br />
    <a href="/rango/add_category/">添加新分类</a><br />
</body>
</html>