<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册新用户</title>
</head>
<body>
    <h1>注册新用户</h1>
    {% if registered %}
        <p>欢迎注册新用户</p>
        <a href="/rango/">回到主页</a>
    {%  else %}
        <p>注册</p>

    <form id="user_form" method="post" action="/rango/register/" enctype="multipart/form-data">
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        <input type="submit" name="submit" value="Register" />
    </form>
    {% endif %}
</body>
</html>